.App {
  font-size: larger;
  border: 2px solid rgb(131, 129, 129);
}

.App-header {
  text-align: center;
  }

#container{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#container div{
  width: 400px;
  height: 300px;
  background-color: rgb(235, 231, 231);
  text-align: center;
  border: solid;
}

label{
 display: block;
 font-size: small;
 font-weight: 600;
}

a{
  font-size: small;
  display: block;
}

.App-link {
  color: #61dafb;
}

